<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EveLocalChatAnalyser.Properties.ActiveProfile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EveLocalChatAnalyser.ActiveProfile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EveLocalChatAnalyser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\errorlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <userSettings>
    <EveLocalChatAnalyser.Properties.ActiveProfile>
      <setting name="IsHidingBlues" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VCode" serializeAs="String">
        <value />
      </setting>
      <setting name="KeyId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IsShowingFaction" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingAmarr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingCaldari" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingGallente" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingMinmatar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CharacterId" serializeAs="String">
        <value />
      </setting>
      <setting name="StandingsCachedUntil" serializeAs="String">
        <value />
      </setting>
      <setting name="CharactersToActivateProfileFor" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUpdateKeyId" serializeAs="String">
        <value>-1</value>
      </setting>
    </EveLocalChatAnalyser.Properties.ActiveProfile>
    <EveLocalChatAnalyser.ActiveProfile>
      <setting name="IsShowingBlues" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VCode" serializeAs="String">
        <value />
      </setting>
      <setting name="KeyId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="IsShowingFaction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsShowingAmarr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingCaldari" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingGallente" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsShowingMinmatar" serializeAs="String">
        <value>True</value>
      </setting>
    </EveLocalChatAnalyser.ActiveProfile>
    <EveLocalChatAnalyser.Properties.Settings>
      <setting name="IsUsingKosInformation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsShowingExitedCharacters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>430, 220</value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="IsDrawingBackgroundDependingOnStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExternalService" serializeAs="String">
        <value>BetaEveKill</value>
      </setting>
      <setting name="IsUsingKillboardAnalysis" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideNews0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="HideNews1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NewsVersionToHide" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsShowingSecurityStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageOfTheDayNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ActiveProfile" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="ProfilesSerialized" serializeAs="String">
        <value>[{"Name":"Default", "Settings":{}}]</value>
      </setting>
      <setting name="IsSwitchingActiveProfileAutomatically" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CoalitionsJson" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="IsShowingCoalitionsColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DScanLocatorSize" serializeAs="String">
        <value>530, 540</value>
      </setting>
      <setting name="DScanLocatorPosition" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="POSMapperSize" serializeAs="String">
        <value>650, 650</value>
      </setting>
      <setting name="POSMapperPosition" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="ProbeScanSize" serializeAs="String">
        <value>350, 350</value>
      </setting>
      <setting name="ProbeScanPosition" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="MapSize" serializeAs="String">
        <value>1024, 800</value>
      </setting>
      <setting name="MapPosition" serializeAs="String">
        <value>100, 200</value>
      </setting>
      <setting name="MapDockLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="DScanShipAggregatorGroupBy" serializeAs="String">
        <value>Role</value>
      </setting>
      <setting name="LastSavedDockVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShortcutToggleMinimizeAll" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCharacterPositionsJson" serializeAs="String">
        <value>{}</value>
      </setting>
      <setting name="RouteFinderSecurityPenalty" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RouteFinderRouteType" serializeAs="String">
        <value>Shortest</value>
      </setting>
      <setting name="MapRangeAroundRoute" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RouteFinderIsIgnoringWormholes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowBackgroundTransparencyLevel" serializeAs="String">
        <value>0.7</value>
      </setting>
      <setting name="ShortcutQuickAction" serializeAs="String">
        <value />
      </setting>
      <setting name="AreVoiceCommandsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VoiceCommandToggleMinimze" serializeAs="String">
        <value>toggle</value>
      </setting>
      <setting name="VoiceCommandQuickAction" serializeAs="String">
        <value>P L H</value>
      </setting>
      <setting name="MapWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="MapInnerCircleColorType" serializeAs="String">
        <value>AbsolutePvpOrPveActivityIndexCalculator</value>
      </setting>
      <setting name="MapCircleBorderType" serializeAs="String">
        <value>AbsolutePodKillActivityIndexCalculator</value>
      </setting>
      <setting name="MapCircleMarkerType" serializeAs="String">
        <value>StationTriStateCalculator</value>
      </setting>
      <setting name="MapInnerCirclePalette" serializeAs="String">
        <value>SingleHueRedPalette</value>
      </setting>
      <setting name="MapCircleBorderPalette" serializeAs="String">
        <value>TransparentToRedPalette</value>
      </setting>
      <setting name="MapTriStateColor" serializeAs="String">
        <value>#FF800080</value>
      </setting>
    </EveLocalChatAnalyser.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.13.3.0" newVersion="1.13.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.3.0" newVersion="1.7.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
